body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background: radial-gradient(circle, rgba(238,238,238,0.36978184291294647) 0%, rgba(166,175,186,0.5269247000558035) 100%);
}

.fire1 {
  display: block;
  position: absolute;
  width: 100vw;
  z-index: -1;
  margin: 0 auto;
  top: 0;
}

.fire {
  width: 32em;
}

.trlogo {
  width: 10em;
  top: 0em;
  float: left;
  display: block;
  position: absolute;
}

.con_svg {
  width: 100vw;
  top: -4em;
  position: relative;
  float: left;
  display: block;
  z-index: -1;


}

.rlogo {
  margin: 0 auto;
  width: 20em;
  color: white;
}


div.container-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  background: radial-gradient(circle, rgba(238, 238, 238, 0.36978184291294647) 0%, rgba(166, 175, 186, 0.5269247000558035) 100%);
  object-fit: contain;

  div.content {
    display: block;
    margin: 1em;

    .image {
      width: 18em;

    }

    img {
      max-height: 100%;
      max-width: 100%;
      box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.63);
      border-radius: 1em;
      transition: 200ms ease;

      &:hover {
        box-shadow: 0px 0px 28px -6px rgba(0,0,0,1);
        cursor: pointer;
      }

    }
  }
}

.detail-css {
  h1 {
    background: lightcoral;
    color: white;
    padding: 2.3em;
    font-size: 1.1em;
  }
}

.my-creation {
  height: 50vh;
  background: rgb(236, 236, 236);

  .one-add {
    width: 11em;
    height: 8em;
    background: darkseagreen;
    position: relative;
    display: block;
    top: 3em;
    left: 4em;
  }

}


.workspace {
  width: 90vw;
  height: 80vh;
  margin: 25px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(187, 184, 194, 0.43);
}


* {
  box-sizing: border-box;
}

.buttons-class {
  color: red;
  display: block;
  position: relative;
  top: 35em;

  button {
    padding: .3em;
    border-radius: 10em;
    margin: 2em;
    width: 8em;
    background: indianred;
    color: white;
    font-weight: 2em;

    &:hover {
      background: bisque;
      color: black;
    }
  }
}